{% extends 'gentelella.html.twig' %} 
{% block title %} Organizaciones {% endblock %}

{% block stylesheets %}   
    <!-- Datatables -->
    <link href="{{ asset('bundles/backend/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css')}}" rel="stylesheet">     
    <link href="{{ asset('bundles/backend/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css')}}" rel="stylesheet">     
    <link href="{{ asset('bundles/backend/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css')}}" rel="stylesheet">     
    <link href="{{ asset('bundles/backend/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css')}}" rel="stylesheet"> 
    <link href="{{ asset('bundles/backend/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css')}}" rel="stylesheet"> 
{% endblock %}
{% block Titulo %} DeportesTINN! {% endblock %}
{% block Subtitulo %} Organizaciones Deportivas{% endblock %} 

{% block body %}
    <br />
    <table id="datatable-buttons" class="table table-striped table-bordered">
        <thead>
            <tr class="headings">
                <th>Id</th>
                <th>Nombre</th>
                <th>Abreviatura</th>
                <th class=" no-link last"><span class="nobr">Acciones</span></th>
            </tr>
        </thead>
        <tbody>
            {% for organizacion in organizaciones %}
                <tr class="even pointer">
                    <td class=" ">
                        <a href="{{ path('organizaciones_show', { 'id': organizacion.id }) }}">{{ organizacion.id }}</a></td>
                    <td class=" ">{{ organizacion.nombre }}</td>
                    <td class=" ">{{ organizacion.abreviatura }}</td>
                    <td class=" last">
                        <a href="{{ path('organizaciones_show', { 'id': organizacion.id }) }}"><button class="btn btn-xs btn-success"><i class="fa fa-eye"></i> </button></a> 
                        <a href="{{ path('organizaciones_edit', { 'id': organizacion.id }) }}"><button class="btn btn-xs btn-warning"><i class="fa fa-pencil"></i> </button></a>                                                  
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br/><br/>

    <a href="{{ path('organizaciones_new') }}"><button  class="btn btn-success pull-left">Crear Organización</button></a>


{% endblock %} 
{% block javascripts %}
    <!-- Datatables -->

    <script src="{{ asset('bundles/backend/vendors/datatables.net/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{ asset('bundles/backend/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js')}}"></script>   
    <script src="{{ asset('bundles/backend/vendors/datatables.net-buttons/js/dataTables.buttons.min.js')}}"></script>
    <script src="{{ asset('bundles/backend/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js')}}"></script>

    <script src="{{ asset('bundles/backend/vendors/datatables.net-buttons/js/buttons.flash.min.js')}}"></script>    
    <script src="{{ asset('bundles/backend/vendors/datatables.net-buttons/js/buttons.html5.min.js')}}"></script>    
    <script src="{{ asset('bundles/backend/vendors/datatables.net-buttons/js/buttons.print.min.js')}}"></script>    
    <script src="{{ asset('bundles/backend/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js')}}"></script>

    <script src="{{ asset('bundles/backend/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js')}}"></script>       
    <script src="{{ asset('bundles/backend/vendors/datatables.net-responsive/js/dataTables.responsive.min.js')}}"></script>     
    <script src="{{ asset('bundles/backend/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js')}}"></script>    
    <script src="{{ asset('bundles/backend/vendors/datatables.net-scroller/js/dataTables.scroller.min.js')}}"></script>

        <script src="{{ asset('bundles/backend/vendors/jszip/jszip.min.js')}}"></script>       
    <script src="{{ asset('bundles/backend/vendors/pdfmake/pdfmake.min.js')}}"></script>     
    <script src="{{ asset('bundles/backend/vendors/pdfmake/vfs_fonts.js')}}"></script>  


    <!-- Datatables -->
    <script>
        $(document).ready(function () {
            var handleDataTableButtons = function () {
                if ($("#datatable-buttons").length) {
                    $("#datatable-buttons").DataTable({
                        dom: "Bfrtip",
                        buttons: [
                            {
                                extend: "copy",
                                className: "btn-sm"
                            },
                            {
                                extend: "csv",
                                className: "btn-sm"
                            },
                            {
                                extend: "excel",
                                className: "btn-sm"
                            },
                            {
                                extend: "pdfHtml5",
                                className: "btn-sm"
                            },
                            {
                                extend: "print",
                                className: "btn-sm"
                            },
                        ],
                        responsive: true
                    });
                }
            };

            TableManageButtons = function () {
                "use strict";
                return {
                    init: function () {
                        handleDataTableButtons();
                    }
                };
            }();

            $('#datatable').dataTable();

            $('#datatable-keytable').DataTable({
                keys: true
            });

            $('#datatable-responsive').DataTable();

            $('#datatable-scroller').DataTable({
                ajax: "bundles/backend/js/datatables/json/scroller-demo.json",
                deferRender: true,
                scrollY: 380,
                scrollCollapse: true,
                scroller: true
            });

            $('#datatable-fixed-header').DataTable({
                fixedHeader: true
            });

            var $datatable = $('#datatable-checkbox');

            $datatable.dataTable({
                'order': [[1, 'asc']],
                'columnDefs': [
                    {orderable: false, targets: [0]}
                ]
            });
            $datatable.on('draw.dt', function () {
                $('input').iCheck({
                    checkboxClass: 'icheckbox_flat-green'
                });
            });

            TableManageButtons.init();
        });
    </script>
    <!-- /Datatables -->
{% endblock %}