{% extends 'gentelella.html.twig' %} 

{% block body %}
      {% include "ComurImageBundle:Form:croppable_image_modal.html.twig" with {'include_jquery': false, 'include_bootstrap': false} %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        Organizaciones <small>Crear</small>
                    </h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        <li class="dropdown"><a href="#" class="dropdown-toggle"
                                                data-toggle="dropdown" role="button" aria-expanded="false"><i
                                    class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a></li>
                                <li><a href="#">Settings 2</a></li>
                            </ul></li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br /> 
                    {{ form_start(form, {'id':'organizaciones', 'attr': {'class': 'form-horizontal form-label-left','data-parsley-validate':''} }) }} 
                    {{ form_errors(form) }}

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"
                               for="nombre">{{ form_label(form.nombre) }} <span
                                class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">{{form_widget(form.nombre,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"
                               for="abreviatura">{{ form_label(form.abreviatura) }} <span
                                class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">{{form_widget(form.abreviatura,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"
                               for="logo">{{ form_label(form.logo) }} <span
                                class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">{{form_widget(form.logo,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"
                               for="rif">{{ form_label(form.rif) }} <span
                                class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">{{form_widget(form.rif,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"
                               for="telefono">{{ form_label(form.telefono) }} <span
                                class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">{{form_widget(form.telefono,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"
                               for="email">{{ form_label(form.email) }} <span
                                class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">{{form_widget(form.email,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"
                               for="responsable">{{ form_label(form.responsable) }} <span
                                class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">{{form_widget(form.responsable,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"
                               for="direccion">{{ form_label(form.direccion) }} <span
                                class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">{{form_widget(form.direccion,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"
                               for="campeonato">{{ form_label(form.campeonato) }} <span
                                class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">{{form_widget(form.campeonato,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}</div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"
                               for="disciplinas"> Disciplinas  <span
                                class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {% set i = 1 %}
                            {% for campeonatoDisciplina in campeonatoDisciplinas %}
                                <input type="checkbox" name="disciplinas[]" id="disciplina{{i}}" value="{{campeonatoDisciplina.disciplina.id}}" 
                                       {% if i == 1 %} data-parsley-mincheck="1" {% endif %}  />  {{campeonatoDisciplina.disciplina.nombre}}
                                <br />
                                {% set i = i+1 %}

                            {% endfor %}

                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <a class="btn btn-primary" href="{{ path('ligas_index') }}" role="button">Cancelar</a>
                            <button type="submit" class="btn btn-success">Crear</button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>

            </div>
        </div>
    </div>
{% endblock %}



{% block javascripts %}
    <script src="{{ asset('bundles/backend/vendors/holder.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script> 
    <script src="{{ asset('bundles/backend/vendors/parsleyjs/src/parsley.js') }}"></script>

    <script type="text/javascript">
        $(function () {
            $('#organizaciones').parsley().on('field:validated', function () {
                var ok = $('.parsley-error').length === 0;
                $('.bs-callout-info').toggleClass('hidden', !ok);
                $('.bs-callout-warning').toggleClass('hidden', ok);
            })
                    .on('form:submit', function () {
                        return true; // Don't submit form for this demo
                    });
        });
    </script>

{% endblock %} 