{% extends 'gentelella.html.twig' %} 
{% block stylesheets %}
<link href="{{ asset('bundles/backend/vendors/bootstrap-daterangepicker/daterangepicker.css')  }}"   rel="stylesheet">  
{% endblock %}
{% block title %} Ligas {% endblock %}
{% block Titulo %} DeportesTINN {% endblock %}
{% block Subtitulo %} Ligas <small>Crear</small> {% endblock %} 
{% block cerrar %} href="{{ path('ligas_index')}}" {% endblock %}    
                
{% block body %}
 {% include "ComurImageBundle:Form:croppable_image_modal.html.twig" with {'include_jquery': false, 'include_bootstrap': false} %}
    <br /> 
    {{ form_start(form, { 'attr': {'class': 'form-horizontal form-label-left'} }) }} 
    {{ form_errors(form) }}

    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12"
                for="first-name">{{ form_label(form.nombre) }} <span
                class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">{{form_widget(form.nombre,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}</div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12"
                for="first-name">{{ form_label(form.descripcion) }} <span
                class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">{{form_widget(form.descripcion,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}</div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12"
                for="first-name">{{ form_label(form.ubicacion) }} <span
                class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">{{form_widget(form.ubicacion,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}</div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12"
                for="first-name">{{ form_label(form.logo) }} <span
                class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">{{form_widget(form.logo,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}</div>
    </div>

    <div id="inicio" class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12"
                    for="inicio">{{ form_label(form.inicio) }} 
                <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">{{form_widget(form.inicio) }}</div>
        </div>

        <div id="fin" class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12"
                    for="fin">{{ form_label(form.fin) }}
                <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">{{form_widget(form.fin) }}</div>
        </div>

    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12"
                for="fin">Periodo
            <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12"><input type="text" name="datefilter" value="" class="form-control col-md-7 col-xs-12"/></div>
    </div>

    <div class="ln_solid"></div>
    <div class="form-group">
        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
            <a class="btn btn-primary" href="{{ path('ligas_index') }}" role="button">Cancelar</a>
            <button type="submit" class="btn btn-success">Crear</button>
        </div>
    </div>
    {{ form_end(form) }}
            
{% endblock %}

{% block javascripts %}
<script src="{{ asset('bundles/backend/vendors/moment/moment.js')}}"></script>
<script src="{{ asset('bundles/backend/vendors/bootstrap-daterangepicker/daterangepicker.js')}}"></script>
<script src="{{ asset('bundles/backend/vendors/holder.js') }}"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script> 

<script type="text/javascript">
$(document).ready(function() {
    $("#inicio").hide();
    $("#fin").hide();        
});
$(function() {
  $('input[name="datefilter"]').daterangepicker({
      autoUpdateInput: false,
      locale: {
          cancelLabel: 'Clear'
      }
  });

  $('input[name="datefilter"]').on('apply.daterangepicker', function(ev, picker) {
      $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
  });

  $('input[name="datefilter"]').on('cancel.daterangepicker', function(ev, picker) {
      $(this).val('');
  });

});
</script>

{% endblock %}
