{% extends  'AutenticacionBundle::layout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}

    {% if error %}
        <div class=""><p>{{ error.messageKey|trans(error.messageData, 'security') }}</p></div>
            {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post">
        <h1>Login Form</h1>
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}

        <div>
            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="Username" required="" />
        </div>
        <div>
            <input type="password" id="password" name="_password" class="form-control" placeholder="Password" required="" />
        </div>
        <div>
            <input type="submit" id="_submit" name="_submit" class="btn btn-default submit" value="{{ 'security.login.submit'|trans }}" />
            
            
            
            <a class="reset_pass" href="#">Olvidó su password?</a>
        </div>

        <div class="clearfix"></div>

        <div class="separator">
            <!--p class="change_link">New to site?
                <a href="#signup" class="to_register"> Create Account </a>
            </p-->

            <div class="clearfix"></div>
            <br />

            <div>
                <h1><i class="fa fa-paw"></i> DeportesTINN!</h1>
                <p>©2016 All Rights Reserved. DeportesTINN! es propiedad de SomosTinn. Privacy and Terms</p>
            </div>
        </div>
    </form>



{% endblock fos_user_content %}
