{% extends 'backend.html.twig' %} 

{% block body %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        Equipo - Atletas <small>Crear</small>
                    </h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        <li class="dropdown"><a href="#" class="dropdown-toggle"
                                                data-toggle="dropdown" role="button" aria-expanded="false"><i
                                    class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a></li>
                                <li><a href="#">Settings 2</a></li>
                            </ul></li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br /> 
                    <!-- Smart Wizard -->
                    <div id="wizard" class="form_wizard wizard_horizontal">
                        <ul class="wizard_steps anchor">
                            <li>
                                <a href="#step-1" class="selected" isdone="1" rel="1">
                                    <span class="step_no">1</span>
                                    <span class="step_descr">
                                        Paso 1<br>
                                        <small>Personales</small>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#step-2" class="disabled" isdone="0" rel="2">
                                    <span class="step_no">2</span>
                                    <span class="step_descr">
                                        Paso 2<br>
                                        <small>Académicos</small>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#step-3" class="disabled" isdone="0" rel="3">
                                    <span class="step_no">3</span>
                                    <span class="step_descr">
                                        Paso 3<br>
                                        <small>Médicos</small>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#step-4" class="disabled" isdone="0" rel="4">
                                    <span class="step_no">4</span>
                                    <span class="step_descr">
                                        Paso 4<br>
                                        <small>Uniformes</small>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#step-5" class="disabled" isdone="0" rel="5">
                                    <span class="step_no">5</span>
                                    <span class="step_descr">
                                        Paso 5<br>
                                        <small>Deportivos</small>
                                    </span>
                                </a>
                            </li>
                        </ul>


                        {{ form_start(form, { 'attr': {'class': 'form-horizontal form-label-left'} }) }} 

                        {{ form_errors(form) }}


                        <div class="stepContainer" style="height: 300px;">

                            {# PASO 1 #}

                            <div id="step-1" class="col-md-12 col-sm-12 col-xs-12 content" style="display: block;">

                                <h2 class="StepTitle">Datos Personales</h2>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nacionalidad">Nacionalidad <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{form_widget(form.atleta.nacionalidad,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}  
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cedula">Cédula <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{form_widget(form.atleta.cedula,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}  
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="primerApellido">Primer Apellido <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{form_widget(form.atleta.primerApellido,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}  
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="segundoApellido">Segundo Apellido 
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{form_widget(form.atleta.segundoApellido,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}  
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="primerNombre">Primer Nombre <span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{form_widget(form.atleta.primerNombre,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}  
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="segundoNombre">Segundo Nombre </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{form_widget(form.atleta.segundoNombre,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}  
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="fechaNacimiento">Fecha Nacimiento <span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{form_widget(form.atleta.fechaNacimiento,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}  
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="genero">Gënero <span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{form_widget(form.atleta.genero,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}  
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="genero">E-mail <span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{form_widget(form.atleta.email,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}  
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="genero">Teléfono <span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{form_widget(form.atleta.telefono,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}  
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="genero">Fotografía <span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{form_widget(form.atleta.fotografia,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}  
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="genero">Imagen Cédula <span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{form_widget(form.atleta.imagenCedula,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}  
                                    </div>
                                </div>


                            </div>

                            {# PASO 2 #}

                            <div id="step-2" class="col-md-12 col-sm-12 col-xs-12 content" style="display: none;">
                                <h2 class="StepTitle">Datos Académicos</h2>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="institucion">Institución <span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{form_widget(form.atleta.institucion,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}  
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="departamento">Departamento <span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{form_widget(form.atleta.departamento,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}  
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="contancia">Contancia <span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{form_widget(form.atleta.contancia,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}  
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="carnet">Carnet <span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{form_widget(form.atleta.carnet,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}  
                                    </div>
                                </div>
                            </div>

                            {# PASO 3 #}

                            <div id="step-3" class="col-md-12 col-sm-12 col-xs-12 content" style="display: none;">
                                <h2 class="StepTitle">Datos Médicos</h2>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="altura">Altura <span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{form_widget(form.atleta.altura,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}  
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="peso">Peso <span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{form_widget(form.atleta.peso,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}  
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tipoSangre">Tipo de Sangre <span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{form_widget(form.atleta.tipoSangre,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}  
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="alergias">Alergias <span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{form_widget(form.atleta.alergias,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}  
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="contactoNombre">Nombre Contacto <span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{form_widget(form.atleta.contactoNombre,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}  
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="contactoTelefono">Teléfono Contacto <span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{form_widget(form.atleta.contactoTelefono,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}  
                                    </div>
                                </div>

                            </div>

                            {# PASO 4 #}

                            <div id="step-4" class="content" style="display: none;">
                                <h2 class="StepTitle">Datos Uniformes</h2>

                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                    {{form_widget(form.atleta.tallaFranela,{ 'attr': {'class': 'form-control'} } ) }}  

                                    <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                                </div>

                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                    {{form_widget(form.atleta.tallaPantalon,{ 'attr': {'class': 'form-control has-feedback-left'} } ) }}                       
                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                </div>

                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                    {{form_widget(form.atleta.tallaPantalonCorto,{ 'attr': {'class': 'form-control'} } ) }}  

                                    <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                                </div>

                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                    {{form_widget(form.atleta.tallaZapato,{ 'attr': {'class': 'form-control has-feedback-left'} } ) }}                       
                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                </div>

                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                    {{form_widget(form.atleta.tallaGorra,{ 'attr': {'class': 'form-control'} } ) }}  

                                    <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                                </div>


                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                    {{form_widget(form.atleta.tallaChaqueta,{ 'attr': {'class': 'form-control has-feedback-left'} } ) }}                       
                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                </div>

                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                    {{form_widget(form.atleta.tallaMedias,{ 'attr': {'class': 'form-control'} } ) }}  

                                    <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                                </div>

                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                    {{form_widget(form.atleta.status,{ 'attr': {'class': 'form-control has-feedback-left'} } ) }}                       
                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>

                            {# PASO 5 #}
                            <div id="step-5" class="content" style="display: none;">
                                <h2 class="StepTitle">Datos Deportivos</h2>
                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                    {{form_widget(form.equipo,{ 'attr': {'class': 'form-control has-feedback-left'} } ) }}                       
                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>


                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <a class="btn btn-primary" href="{{ path('atletaequipo_index') }}" role="button">Cancelar</a>
                                <button type="submit" class="btn btn-success">Crear</button>
                            </div>
                        </div>
                        {{ form_end(form) }}
                        <!-- End SmartWizard Content -->
                    </div>

                </div>
            </div>
        </div>
    {% endblock %}

    {% block javascripts %}

        <!-- FastClick -->
        <script src="{{ asset('bundles/backend/js/fastclick.js')}}"></script>

        <!-- NProgress -->
        <script src="{{ asset('bundles/backend/js/nprogress')}}"></script>

        <!-- jQuery Smart Wizard --> 
        <script src="{{ asset('bundles/backend/js/wizard/jquery.smartWizard.js')}}"></script>

        <!-- Custom Theme Scripts -->
        <script src="{{ asset('bundles/backend/js/custom.js')}}"></script>


        <!-- jQuery Smart Wizard -->
        <script>
            $(document).ready(function () {
                $('#wizard').smartWizard();

                $('#wizard_verticle').smartWizard({
                    transitionEffect: 'slide'
                });

                $('.buttonNext').addClass('btn btn-success');
                $('.buttonPrevious').addClass('btn btn-primary');
                $('.buttonFinish').addClass('btn btn-default');
            });
        </script>
        <!-- /jQuery Smart Wizard -->

    {% endblock %} 