{% extends 'base.html.twig' %}

{% block body %}
    <h1>AtletaEquipo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ atletaEquipo.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('atletaequipo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('atletaequipo_edit', { 'id': atletaEquipo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
