{% extends 'gentelella.html.twig' %} 
{% block title %} FEVEDEU {% endblock %}

{% block stylesheets %}   
    <!-- Datatables -->
    <link href="{{ asset('bundles/backend/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css')}}" rel="stylesheet">     
    <link href="{{ asset('bundles/backend/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css')}}" rel="stylesheet">     
    <link href="{{ asset('bundles/backend/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css')}}" rel="stylesheet">     
    <link href="{{ asset('bundles/backend/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css')}}" rel="stylesheet"> 
    <link href="{{ asset('bundles/backend/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css')}}" rel="stylesheet"> 
{% endblock %}
{% block Titulo %} {{ organizacion }} {% endblock %}
{% block Subtitulo %}Atletas Registrados{% endblock %}
{% block cerrar %} href="{{ path('atletas_index')}}" {% endblock %}    
{% block body %}
    <br />
    <table id="datatable-buttons" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fotografía</th>
                <th>Cédula</th>
                <th>Nombre</th> 
                <th>Estatus</th> 
                <th >Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for atleta in atletas %}
                <tr>
                    <td WIDTH=50><a href="{{ path('atletas_show', { 'id': atleta.id }) }}">{{ loop.index  }}</a></td>                    
                    <td><img src="{{ asset('uploads/atletas/fotos/')}}{{atleta.fotografia}}"  height="50px" alt="" class="imgage"></td>
                    <td>{{ atleta.nacionalidad }}-{{ atleta.cedula |number_format(0, ',', '.')   }} </td>
                    <td>{{ atleta.primerApellido }} {{ atleta.primerNombre }}</td> 
                    <td><button type="button" class="btn 
                                {% if atleta.status=="En Proceso"  %}
                                    btn-info
                                {% elseif atleta.status=="Por Corregir" %}
                                   btn-warning
                                {% else %}
                                    btn-success
                                {% endif %}

                                 btn-xs">{{ atleta.status }}</button></td>    
                    <td> 
                        <p>
                            <a href="{{ path('atletas_show', { 'id': atleta.id }) }}"><button class="btn btn-xs btn-success"><i class="fa fa-eye"></i> </button></a> 
                            <a href="{{ path('atletas_edit', { 'id': atleta.id }) }}"><button class="btn btn-xs btn-warning"><i class="fa fa-pencil"></i> </button></a>                                                 
                        </p>
                    </td>                                        
                </tr>
            {% endfor %}                            
        </tbody>
    </table>
    <br/><br/>
    <a href="{{ path('atletas_new') }}"><button  class="btn btn-success pull-left">Registrar Atleta</button></a>


{% endblock %} 

{% block javascripts %}
    <!-- Datatables -->

    <script src="{{ asset('bundles/backend/vendors/datatables.net/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{ asset('bundles/backend/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js')}}"></script>   
    <script src="{{ asset('bundles/backend/vendors/datatables.net-buttons/js/dataTables.buttons.min.js')}}"></script>
    <script src="{{ asset('bundles/backend/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js')}}"></script>

    <script src="{{ asset('bundles/backend/vendors/datatables.net-buttons/js/buttons.flash.min.js')}}"></script>    
    <script src="{{ asset('bundles/backend/vendors/datatables.net-buttons/js/buttons.html5.min.js')}}"></script>    
    <script src="{{ asset('bundles/backend/vendors/datatables.net-buttons/js/buttons.print.min.js')}}"></script>    
    <script src="{{ asset('bundles/backend/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js')}}"></script>

    <script src="{{ asset('bundles/backend/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js')}}"></script>       
    <script src="{{ asset('bundles/backend/vendors/datatables.net-responsive/js/dataTables.responsive.min.js')}}"></script>     
    <script src="{{ asset('bundles/backend/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js')}}"></script>    
    <script src="{{ asset('bundles/backend/vendors/datatables.net-scroller/js/dataTables.scroller.min.js')}}"></script>

    <script src="{{ asset('bundles/backend/vendors/jszip/dist/jszip.min.js')}}"></script>       
    <script src="{{ asset('bundles/backend/vendors/pdfmake/build/pdfmake.min.js')}}"></script>     
    <script src="{{ asset('bundles/backend/vendors/pdfmake/build/vfs_fonts.js')}}"></script>    


    <!-- Datatables -->
    <script>
        $(document).ready(function () {
            var handleDataTableButtons = function () {
                if ($("#datatable-buttons").length) {
                    $("#datatable-buttons").DataTable({
                        dom: "Bfrtip",
                        buttons: [
                            {
                                extend: "copy",
                                className: "btn-sm"
                            },
                            {
                                extend: "csv",
                                className: "btn-sm"
                            },
                            {
                                extend: "excel",
                                className: "btn-sm"
                            },
                            {
                                extend: "pdfHtml5",
                                className: "btn-sm"
                            },
                            {
                                extend: "print",
                                className: "btn-sm"
                            },
                        ],
                        responsive: true
                    });
                }
            };

            TableManageButtons = function () {
                "use strict";
                return {
                    init: function () {
                        handleDataTableButtons();
                    }
                };
            }();

            $('#datatable').dataTable();

            $('#datatable-keytable').DataTable({
                keys: true
            });

            $('#datatable-responsive').DataTable();

            $('#datatable-scroller').DataTable({
                ajax: "js/datatables/json/scroller-demo.json",
                deferRender: true,
                scrollY: 380,
                scrollCollapse: true,
                scroller: true
            });

            $('#datatable-fixed-header').DataTable({
                fixedHeader: true
            });

            var $datatable = $('#datatable-checkbox');

            $datatable.dataTable({
                'order': [[1, 'asc']],
                'columnDefs': [
                    {orderable: false, targets: [0]}
                ]
            });
            $datatable.on('draw.dt', function () {
                $('input').iCheck({
                    checkboxClass: 'icheckbox_flat-green'
                });
            });

            TableManageButtons.init();
        });
    </script>
    <!-- /Datatables -->
{% endblock %}