{% extends 'gentelella.html.twig' %} 
{% block title %} Atletas {% endblock %}
{% block Titulo %} {{organizacion}}{% endblock %}
{% block Subtitulo %}Detalle{% endblock %} 
{% block cerrar %} href="{{ path('atletas_index')}}" {% endblock %} 
{% block paneltoolbox %} 
    <li>
        <a  class="btn btn-success" href="{{ path('atletas_edit', { 'id': atleta.id }) }}" style="  padding: 6px 12px;  color: white;">Editar </a>
    </li>
    <li><a  class="btn btn-primary" href="{{ path('atletas_index')}}" style="  padding: 6px 12px;  color: white;">Volver </a>
    </li>    
    
{% endblock %}  
{% block body %}

    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
    {% endfor %}
    {% for msgs in app.session.flashBag.get('error') %}
        <div class="alert alert-danger">
            {% for msg in msgs %}
                <p>{{ msg }}</p>
            {% endfor %}

        </div>
    {% endfor %}

    <div class="col-md-3 col-sm-3 col-xs-12 profile_left">        
        <div class="profile_img">
            <div id="crop-avatar">
                <!-- Current avatar -->
                <img class="img-responsive avatar-view"  src="{{ asset('uploads/atletas/fotos/')}}{{atleta.fotografia}}" alt="{{ atleta.primerNombre }}" title="{{ atleta.primerNombre }}">
            </div>
        </div>
        <h3>{{ atleta.primerApellido }} {{ atleta.primerNombre }}</h3>

        <ul class="list-unstyled user_data">
            <li><i class="fa fa-map-marker user-profile-icon"></i> {{ atleta.nacionalidad }}-{{ atleta.cedula |number_format(0, ',', '.')   }} </li>        
            <li class="m-top-xs"><i class="fa fa-external-link user-profile-icon"></i><a href="mailto:{{ atleta.email }}" target="_blank">{{ atleta.email }}</a></li>
        </ul>
        <!--a class="btn btn-success" href="{{ path('atletas_edit', { 'id': atleta.id }) }}"><i class="fa fa-edit m-right-xs"></i>Editar</a-->
        <br />
    </div>
    <div class="col-md-9 col-sm-9 col-xs-12">
        <div class="" role="tabpanel" data-example-id="togglable-tabs">
            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist" style="background: none;">
                <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Personales</a></li>
                <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Académicos</a></li>
                <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Médicos</a></li>
                <li role="presentation" class=""><a href="#tab_content4" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Uniformes</a></li>
                <li role="presentation" class=""><a href="#tab_content5" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Deportivos</a></li>
                <li role="presentation" class=""><a href="#tab_content6" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Observaciones</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">                               
                    <h2>Datos Personales</h2>
                    <br>
                    <table class="table table-striped responsive-utilities	">
                        <tbody>
                            <tr>
                                <th>Cédula</th>
                                <td>{{ atleta.nacionalidad }}-{{ atleta.cedula |number_format(0, ',', '.')   }}</td>
                            </tr>
                            <tr>
                                <th>Primer Apellido</th>
                                <td>{{ atleta.primerApellido }}</td>
                            </tr>
                            <tr>
                                <th>Segundo Apellido</th>
                                <td>{{ atleta.segundoApellido }}</td>
                            </tr>
                            <tr>
                                <th>Primer Nombre</th>
                                <td>{{ atleta.primerNombre }}</td>
                            </tr>
                            <tr>
                                <th>Segundo Nombre</th>
                                <td>{{ atleta.segundoNombre }}</td>
                            </tr>
                            <tr>
                                <th>Fecha Nacimiento</th>
                                <td>{{ atleta.fechaNacimiento|date('d-m-Y') }}</td>
                            </tr>
                            <tr>
                                <th>Gënero</th>
                                <td>{{ atleta.genero }}</td>
                            </tr>
                            <tr>
                                <th>E-mail</th>
                                <td>{{ atleta.email }}</td>
                            </tr>
                            <tr>
                                <th>Teléfono</th>
                                <td>{{ atleta.telefono }}</td>
                            </tr>
                            <tr>
                                <th>Imagen Cédula</th>
                                <td> <a target="_blank" href="{{ asset('uploads/atletas/cedulas/')}}{{atleta.imagenCedula}}">  
                                        <img src="{{ asset('uploads/atletas/cedulas/')}}{{atleta.imagenCedula}}" height="120px"  alt="{{ atleta.primerNombre }}" title="{{ atleta.primerNombre }}"> </a>                                        
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">                                   
                    <h2>Datos Académicos</h2>
                    <br>
                    <table class="table table-striped responsive-utilities	">
                        <tbody>

                            <tr>
                                <th>Institución</th>
                                <td>{{ atleta.organizacion }}</td>
                            </tr>
                            <tr>
                                <th>Departamento</th>
                                <td>{{ atleta.departamento }}</td>
                            </tr>
                            <tr>
                                <th>Año de Ingreso</th>
                                <td>{{ atleta.ingreso}}</td>
                            </tr>
                            <tr>
                                <th>Constancia</th>
                                <td> 
                                    {% if (atleta.contancia != '') %}
                                    <a target="_blank" href="{{ asset('uploads/atletas/constancias/')}}{{ atleta.contancia }}">Ver constancia (PDF)</a>
                                    {%endif%}
                                    <!--a target="_blank" href="{{ asset('uploads/atletas/constancias/')}}{{ atleta.contancia }}">  <img src="{{ asset('uploads/atletas/constancias/')}}{{ atleta.contancia }}" height="120px"  alt="Avatar" title="Change the avatar" /> </a></td-->
                            </tr>
                            <tr>
                                <th>Carnet</th>
                                <td> <a target="_blank" href="{{ asset('uploads/atletas/carnet/')}}{{ atleta.carnet }}">  <img src="{{ asset('uploads/atletas/carnet/')}}{{ atleta.carnet }}" height="120px"  alt="Avatar" title="Change the avatar" /> </a></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                    <h2>Datos Médicos</h2>
                    <br>
                    <table class="table table-striped responsive-utilities	">
                        <tbody>
                            <tr>
                                <th>Altura</th>
                                <td>{{ atleta.altura }}</td>
                            </tr>
                            <tr>
                                <th>Peso</th>
                                <td>{{ atleta.peso }}</td>
                            </tr>
                            <tr>
                                <th>Tipo de Sangre</th>
                                <td>{{ atleta.tipoSangre }}</td>
                            </tr>
                            <tr>
                                <th>Alergias</th>
                                <td>{{ atleta.alergias }}</td>
                            </tr>
                            <tr>
                                <th>Nombre Contacto</th>
                                <td>{{ atleta.contactoNombre }}</td>
                            </tr>
                            <tr>
                                <th>Teléfono Contacto</th>
                                <td>{{ atleta.contactoTelefono }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab_content4" aria-labelledby="profile-tab">
                    <h2>Datos Uniformes</h2>
                    <br>
                    <table class="table table-condense table-striped responsive-utilities	">
                        <tbody>
                            <tr>
                                <th>Talla de Franela</th>
                                <td>{{ atleta.tallaFranela }}</td>
                            </tr>
                            <tr>
                                <th>Talla de Pantalón</th>
                                <td>{{ atleta.tallaPantalon }}</td>
                            </tr>
                            <tr>
                                <th>Talla de Pantalón Corto</th>
                                <td>{{ atleta.tallaPantalonCorto }}</td>
                            </tr>
                            <tr>
                                <th>Talla de Zapato</th>
                                <td>{{ atleta.tallaZapato }}</td>
                            </tr>
                            <tr>
                                <th>Talla de Gorra </th>
                                <td>{{ atleta.tallaGorra }}</td>
                            </tr>
                            <tr>
                                <th>Talla de Chaqueta</th>
                                <td>{{ atleta.tallaChaqueta }}</td>
                            </tr>
                            <!--tr>
                                <th> Talla de Medias </th>
                                <td>{{ atleta.tallaMedias }}</td>
                            </tr-->

                        </tbody>
                    </table>
                </div>

                <div role="tabpanel" class="tab-pane fade" id="tab_content5" aria-labelledby="profile-tab">
                    <h2>Datos Deportivos</h2>
                    <br>
                    <table class="table table-striped responsive-utilities	">
                        <tbody>
                            {% set i=1%}
                            {% for eq in atleta_eq %}
                                <tr>
                                    <th>{% if i==1 %} Equipo :{% endif%}</th>
                                    <td> {{eq.equipo.equipoOrganizacionCampeonatoDisciplina.disciplina.nombre}} - {{eq.equipo.nombre}}   </td>
                                </tr>
                                {% set i=i+1%}
                            {% endfor %}    

                        </tbody>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab_content6" aria-labelledby="profile-tab">
                    <h2>Observaciones</h2>
                    <br>
                    <table class="table table-striped table-condensed responsive-utilities	">
                        <tbody>
                            <tr>
                                <th> Status de la Inscripción</th>
                                <td>{{ atleta.status }}</td>
                            </tr>
                            <tr>
                                <th>Observaciones </th>
                                <td>{{ atleta.observacion }}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}