{% extends 'base.html.twig' %}

{% block body %}
    <h1>Atletas</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ atleta.id }}</td>
            </tr>
            <tr>
                <th>Nacionalidad</th>
                <td>{{ atleta.nacionalidad }}</td>
            </tr>
            <tr>
                <th>Cedula</th>
                <td>{{ atleta.cedula }}</td>
            </tr>
            <tr>
                <th>Primerapellido</th>
                <td>{{ atleta.primerApellido }}</td>
            </tr>
            <tr>
                <th>Segundoapellido</th>
                <td>{{ atleta.segundoApellido }}</td>
            </tr>
            <tr>
                <th>Primernombre</th>
                <td>{{ atleta.primerNombre }}</td>
            </tr>
            <tr>
                <th>Segundonombre</th>
                <td>{{ atleta.segundoNombre }}</td>
            </tr>
            <tr>
                <th>Fechanacimiento</th>
                <td>{% if atleta.fechaNacimiento %}{{ atleta.fechaNacimiento|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Genero</th>
                <td>{{ atleta.genero }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ atleta.email }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ atleta.telefono }}</td>
            </tr>
            <tr>
                <th>Fotografia</th>
                <td>{{ atleta.fotografia }}</td>
            </tr>
            <tr>
                <th>Imagencedula</th>
                <td>{{ atleta.imagenCedula }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ atleta.status }}</td>
            </tr>
            <tr>
                <th>Institucion</th>
                <td>{{ atleta.institucion }}</td>
            </tr>
            <tr>
                <th>Departamento</th>
                <td>{{ atleta.departamento }}</td>
            </tr>
            <tr>
                <th>Contancia</th>
                <td>{{ atleta.contancia }}</td>
            </tr>
            <tr>
                <th>Carnet</th>
                <td>{{ atleta.carnet }}</td>
            </tr>
            <tr>
                <th>Altura</th>
                <td>{{ atleta.altura }}</td>
            </tr>
            <tr>
                <th>Peso</th>
                <td>{{ atleta.peso }}</td>
            </tr>
            <tr>
                <th>Tiposangre</th>
                <td>{{ atleta.tipoSangre }}</td>
            </tr>
            <tr>
                <th>Alergias</th>
                <td>{{ atleta.alergias }}</td>
            </tr>
            <tr>
                <th>Contactonombre</th>
                <td>{{ atleta.contactoNombre }}</td>
            </tr>
            <tr>
                <th>Contactotelefono</th>
                <td>{{ atleta.contactoTelefono }}</td>
            </tr>
            <tr>
                <th>Tallafranela</th>
                <td>{{ atleta.tallaFranela }}</td>
            </tr>
            <tr>
                <th>Tallapantalon</th>
                <td>{{ atleta.tallaPantalon }}</td>
            </tr>
            <tr>
                <th>Tallapantaloncorto</th>
                <td>{{ atleta.tallaPantalonCorto }}</td>
            </tr>
            <tr>
                <th>Tallazapato</th>
                <td>{{ atleta.tallaZapato }}</td>
            </tr>
            <tr>
                <th>Tallagorra</th>
                <td>{{ atleta.tallaGorra }}</td>
            </tr>
            <tr>
                <th>Tallachaqueta</th>
                <td>{{ atleta.tallaChaqueta }}</td>
            </tr>
            <tr>
                <th>Tallamedias</th>
                <td>{{ atleta.tallaMedias }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('atletas_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('atletas_edit', { 'id': atleta.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
