{% block stylesheets %}

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/ubvestacionamiento/css/dashboard.css') }}" media="all">

{% endblock stylesheets %}


{% block content %}
  {% include 'UBVEstacionamientoBundle:Dashboard:dashboardNavbar.html.twig' ignore missing %}
  {% trans_default_domain 'FOSUserBundle' %}
  <div class="panel panel-default">
  <div class="panel-heading">
    <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> Registro de Usuarios
  </div>
  <div class="panel-body">
    
    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
      <div class="col-md-12">
        <button type="submit" class="row pull-left btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Crear Cuenta</button>
        <a href="{{ path('ubv_autenticacion_usuarios') }}">
          <button class="pull-right row btn btn-danger"><span class="glyphicon glyphicon-remove-circle"></span> Cancelar</button>
        </a>        
        <br></br>
      </div>
            
      <div class="row form-group">
        <div class="col-md-6">
          {{ form_label(form.username) }}
          <div class="input-icon">
            {% if form.username.vars.errors[0].message is defined %}
              <span class="help-block">
                {{ form.username.vars.errors[0].message }}
              </span>
            {% endif %}
            {{ form_widget(form.username, {'attr': {'class': 'form-control','placeholder':'Nombre de Usuario'}}) }}
          </div>  
        </div>
        <div class="col-md-6">
          {{ form_label(form.cedula) }}
          {% if form.cedula.vars.errors[0].message is defined %}
            <span class="help-block">
              {{ form.cedula.vars.errors[0].message }}
            </span>
          {% endif %}
          {{ form_widget(form.cedula, {'attr': {'class': 'form-control','placeholder':'Cédula'}}) }}
        </div>
      </div>
      <div class="row form-group ">
        <div class="col-md-6">
          {{ form_label(form.primerNombre) }}
          {% if form.primerNombre.vars.errors[0].message is defined %}
            <span class="help-block">
              {{ form.primerNombre.vars.errors[0].message }}
            </span>
          {% endif %}
          {{ form_widget(form.primerNombre, {'attr': {'class': 'form-control','placeholder':'Primer Nombre'}}) }}  
        </div>
        <div class="col-md-6">
          {{ form_label(form.segundoNombre) }}
          {% if form.segundoNombre.vars.errors[0].message is defined %}
            <span class="help-block">
              {{ form.segundoNombre.vars.errors[0].message }}
            </span>
          {% endif %}
          {{ form_widget(form.segundoNombre, {'attr': {'class': 'form-control','placeholder':'Segundo Nombre'}}) }}  
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-6">
          {{ form_label(form.primerApellido) }}
          {% if form.primerApellido.vars.errors[0].message is defined %}
            <span class="help-block">
              {{ form.primerApellido.vars.errors[0].message }}
            </span>
          {% endif %}
          {{ form_widget(form.primerApellido, {'attr': {'class': 'form-control','placeholder':'Primer Apellido'}}) }}  
        </div>
        <div class="col-md-6">
          {{ form_label(form.segundoApellido) }}
          {% if form.segundoApellido.vars.errors[0].message is defined %}
            <span class="help-block">
              {{ form.segundoApellido.vars.errors[0].message }}
            </span>
          {% endif %}
          {{ form_widget(form.segundoApellido, {'attr': {'class': 'form-control','placeholder':'Segundo Nombre'}}) }}  
        </div>
      </div>
      <div class="input-icon form-group">
        {{ form_label(form.email) }}
          {% if form.email.vars.errors[0].message is defined %}
            <span class="help-block">
              {{ form.email.vars.errors[0].message }}
            </span>
          {% endif %}
        {{ form_widget(form.email, {'attr': {'class': 'form-control','placeholder':'correo@ubv.edu.ve'}}) }}
      </div>
      <div class="row form-group">
        <div class="col-md-6">
          {{ form_label(form.plainPassword.first) }}
          <div class="input-icon">
            
            {% if form.plainPassword.first.vars.errors[0].message is defined %}
              <span class="help-block">
                {{ form.plainPassword.first.vars.errors[0].message }}
              </span>
            {% endif %}
            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control','placeholder':'Contraseña'}}) }}
          </div>  
        </div>
        <div class="col-md-6">
          {{ form_label(form.plainPassword.second) }}
          <div class="input-icon">
            
            {% if form.plainPassword.second.vars.errors[0].message is defined %}
              <span class="help-block">
                {{ form.plainPassword.second.vars.errors[0].message }}
              </span>
            {% endif %}
            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control','placeholder':'Contraseña'}}) }}
          </div>  
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-12">
          {{ form_label(form.groups) }}
          <div class="input-icon">
            
            {% if form.groups.vars.errors[0].message is defined %}
              <span class="help-block">
                {{ form.groups.vars.errors[0].message }}
              </span>
            {% endif %}
            {{ form_widget(form.groups, {'attr': {'class': 'form-control','placeholder':'Contraseña'}}) }}
          </div>  
        </div>
      </div>
      {{ form_widget(form) }}
      <br>
    <div class="col-md-12">
      <button type="submit" class="pull-right row btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Crear Cuenta</button>
    </div>
    </form>
  </div> </div>       
{% endblock content %}
{% block javascripts %}
  <script>
  
    {% for grupo in app.user.groups %}
      {% if grupo.name == 'Administrador' %}
        $( "#fos_user_registration_form_groups_3" ).prop( "disabled", false );
        {{loop.last}}
      {%else%}
        $( "#fos_user_registration_form_groups_3" ).prop( "disabled", true );
      {%endif%}
    {% endfor %}
    
  </script>
{% endblock %}  
