{% extends 'backend.html.twig' %} 
{% block body %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        Campeonato Disciplina <small>Ver</small>
                    </h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        <li class="dropdown"><a href="#" class="dropdown-toggle"
                                                data-toggle="dropdown" role="button" aria-expanded="false"><i
                                    class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a></li>
                                <li><a href="#">Settings 2</a></li>
                            </ul></li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />

                    <table class="table table-striped responsive-utilities	">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ campeonatoDisciplina.id }}</td>
                            </tr>
                             <tr>
                                <th>Campeonato</th>
                                <td>{{ campeonatoDisciplina.campeonato }}</td>
                            </tr>
                            <tr>
                                <th>Disciplina</th>
                                <td>{{ campeonatoDisciplina.disciplina }}</td>
                            </tr>
                            <tr>
                                <th>Maximo</th>
                                <td>{{ campeonatoDisciplina.maximo }}</td>
                            </tr>
                            <tr>
                                <th>Minimo</th>
                                <td>{{ campeonatoDisciplina.minimo }}</td>
                            </tr>
                            <tr>
                                <th>Inicio</th>
                                <td>{% if campeonatoDisciplina.inicio %}{{ campeonatoDisciplina.inicio|date('d-m-Y') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>Fin</th>
                                <td>{% if campeonatoDisciplina.fin %}{{ campeonatoDisciplina.fin|date('d-m-Y') }}{% endif %}</td>
                            </tr>
                            
                        </tbody>
                    </table>

                    <ul>
                        <li><a href="{{ path('campeonatodisciplina_index') }}">Regresar a la lista</a></li>
                        <li><a href="{{ path('campeonatodisciplina_edit', { 'id': campeonatoDisciplina.id }) }}">Editar</a></li>
                        <li>{{ form_start(delete_form) }} <input type="submit"
                                                                 value="Delete"> {{ form_end(delete_form) }}
                        </li>
                    </ul>

                </div>

            </div>

        </div>
    </div>

{% endblock %}