{% block stylesheets %}

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/ubvestacionamiento/css/dashboard.css') }}" media="all">

{% endblock stylesheets %}


{% block content %}
  {% include 'UBVEstacionamientoBundle:Dashboard:dashboardNavbar.html.twig' ignore missing %}
  {% trans_default_domain 'FOSUserBundle' %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> Cambio de Contrase単a
    </div>
    <div class="panel-body">

      <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
        <div class="col-md-12 col-md-push-2">
          <div class="row form-group ">
            <div class="col-md-4 col-md-push-2">
              {{ form_label(form.current_password) }}
              <div class="input-icon">

                {% if form.current_password.vars.errors[0].message is defined %}
                  <span class="help-block">
                    {{ form.current_password.vars.errors[0].message }}
                  </span>
                {% endif %}
                {{ form_widget(form.current_password, {'attr': {'class': 'form-control','placeholder':'Contrase単a Actual'}}) }}
              </div>  
            </div>
          </div>
          <div class="row form-group ">
            <div class="col-md-4 col-md-push-2">
              {{ form_label(form.plainPassword.first) }}
              <div class="input-icon">

                {% if form.plainPassword.first.vars.errors[0].message is defined %}
                  <span class="help-block">
                    {{ form.plainPassword.first.vars.errors[0].message }}
                  </span>
                {% endif %}
                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control','placeholder':'Nueva Contrase単a'}}) }}
              </div>  
            </div>
          </div>
          <div class="row form-group ">
            <div class="col-md-4 col-md-push-2">
              {{ form_label(form.plainPassword.second) }}
              <div class="input-icon">

                {% if form.plainPassword.second.vars.errors[0].message is defined %}
                  <span class="help-block">
                    {{ form.plainPassword.second.vars.errors[0].message }}
                  </span>
                {% endif %}
                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control','placeholder':'Repetir Nueva Contrase単a'}}) }}
              </div>  
            </div>
          </div>  
          {{ form_widget(form) }}
          <div class="row form-group ">
            <div class="col-md-4 col-md-push-2">
              <button type="submit" class="btn btn-lg btn-primary btn-block">{{ 'change_password.submit'|trans }}</button>
              </div>  
            </div>
          </div> 
      </form>
    </div>
  </div>       
{% endblock content %}



