{% block stylesheets %}

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/ubvestacionamiento/css/dashboard.css') }}" media="all">

{% endblock stylesheets %}

{% block content %}
  {% include 'UBVEstacionamientoBundle:Dashboard:dashboardNavbar.html.twig' ignore missing %}
  {% trans_default_domain 'FOSUserBundle' %}
  <div class="panel panel-default ">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> Mi Perfil
    </div>
    <div class="panel-body">
      <div class="row col-md-12">
        <div class=" pull-right">
          <a href="{{ path('ubv_autenticacion_mostrar_usuarios', { 'id': id }) }}">
            <button class="btn btn-danger"><span class="glyphicon glyphicon-remove-circle"></span> Cancelar</button>
          </a>
        </div>
            <br></br>
      </div>
      
      <form action="{{ path('fos_user_profile_edit', { 'id': id }) }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
        <div class="row col-md-6">
          <div class="col-md-6">
            <div class="form-group">
              {{ form_label(form.username) }}
              <div class="input-icon">
                {% if form.username.vars.errors[0].message is defined %}
                  <span class="help-block">
                    {{ form.username.vars.errors[0].message }}
                  </span>
                {% endif %}
                {{ form_widget(form.username, {'attr': {'class': 'form-control','placeholder':'Nombre de Usuario'}}) }}
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              {{ form_label(form.cedula) }}
              <div class="input-icon">
                {% if form.cedula.vars.errors[0].message is defined %}
                  <span class="help-block">
                    {{ form.cedula.vars.errors[0].message }}
                  </span>
                {% endif %}
                {{ form_widget(form.cedula, {'attr': {'class': 'form-control','placeholder':'Nombre de Usuario'}}) }}
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              {{ form_label(form.primerNombre) }}
              <div class="input-icon">
                {% if form.primerNombre.vars.errors[0].message is defined %}
                  <span class="help-block">
                    {{ form.primerNombre.vars.errors[0].message }}
                  </span>
                {% endif %}
                {{ form_widget(form.primerNombre, {'attr': {'class': 'form-control','placeholder':'Nombre de Usuario'}}) }}
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              {{ form_label(form.segundoNombre) }}
              <div class="input-icon">
                {% if form.segundoNombre.vars.errors[0].message is defined %}
                  <span class="help-block">
                    {{ form.segundoNombre.vars.errors[0].message }}
                  </span>
                {% endif %}
                {{ form_widget(form.segundoNombre, {'attr': {'class': 'form-control','placeholder':'Nombre de Usuario'}}) }}
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              {{ form_label(form.primerApellido) }}
              <div class="input-icon">
                {% if form.primerApellido.vars.errors[0].message is defined %}
                  <span class="help-block">
                    {{ form.primerApellido.vars.errors[0].message }}
                  </span>
                {% endif %}
                {{ form_widget(form.primerApellido, {'attr': {'class': 'form-control','placeholder':'Nombre de Usuario'}}) }}
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              {{ form_label(form.segundoApellido) }}
              <div class="input-icon">
                {% if form.segundoApellido.vars.errors[0].message is defined %}
                  <span class="help-block">
                    {{ form.segundoApellido.vars.errors[0].message }}
                  </span>
                {% endif %}
                {{ form_widget(form.segundoApellido, {'attr': {'class': 'form-control','placeholder':'Nombre de Usuario'}}) }}
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              {{ form_label(form.email) }}
              <div class="input-icon">
                {% if form.email.vars.errors[0].message is defined %}
                  <span class="help-block">
                    {{ form.email.vars.errors[0].message }}
                  </span>
                {% endif %}
                {{ form_widget(form.email, {'attr': {'class': 'form-control','placeholder':'Nombre de Usuario'}}) }}
              </div>
            </div>
          </div>
          {#<div class="col-md-12">
            <div class="form-group">
              {{ form_label(form.current_password) }}
              <div class="input-icon">
                {% if form.current_password.vars.errors[0].message is defined %}
                  <span class="help-block">
                    {{ form.current_password.vars.errors[0].message }}
                  </span>
                {% endif %}
                {{ form_widget(form.current_password, {'attr': {'class': 'form-control','placeholder':'Contraseña'}}) }}
              </div>
            </div>
          </div>#}
        </div>
        <div class="row col-md-6">
          <div class="col-md-12 col-md-push-1">
            <div class=" form-group">
              <label class="control-label">
                Asociar Grupos:
              </label>
              <div class=" well">
                <div class="form-group">
                  <div class="input-icon">
                    {% if form.groups.vars.errors[0].message is defined %}
                      <span class="help-block">
                        {{ form.groups.vars.errors[0].message }}
                      </span>
                    {% endif %}
                      {{ form_widget(form.groups, {'attr': {'class': ''}}) }}
                  </div>
                </div>
                <div class="form-group">
                  {% if form.enambled.vars.errors[0].message is defined %}
                    <span class="help-block">
                      {{ form.enabled.vars.errors[0].message }}
                    </span>
                  {% endif %}
                  {{ form_widget(form.enabled) }}
                  {{ form_label(form.enabled) }}
                </div>
              </div>
            </div>
            <div>
              <button type="submit" class="btn btn-md btn-primary btn-block"><span class="glyphicon glyphicon-save"></span> Guardar Perfil</button>
            </div>
          </div>
        </div>
        
        {{ form_widget(form) }}
        
      </form>
    </div>
  </div>
{% endblock content %}
{% block javascripts %}
<script>
  
    {% for grupo in app.user.groups %}
      {% if grupo.name == 'Administrador' %}
        $( "#fos_user_profile_form_groups_3" ).prop( "disabled", false );
        {{loop.last}}
      {%else%}
        $( "#fos_user_profile_form_groups_3" ).prop( "disabled", true );
      {%endif%}
    {% endfor %}
    
</script>
{% endblock %}