{% block stylesheets %}

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/ubvestacionamiento/css/dashboard.css') }}" media="all">

{% endblock stylesheets %}

{% block content %}
  {% include 'UBVEstacionamientoBundle:Dashboard:dashboardNavbar.html.twig' ignore missing %}
  {% trans_default_domain 'FOSUserBundle' %}
  <div class="panel panel-default ">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> Mi Perfil
    </div>
    <div class="panel-body">
      <div class="row col-md-12">
        <div class=" pull-right">
          <a href="{{ path('ubv_autenticacion_usuarios') }}">
            <button class="btn btn-warning"><span class="glyphicon glyphicon-list-alt"></span> Listar Usuarios</button>
          </a>
        </div>
      </div>
      
      <div class="row col-md-6">
        <div class="col-md-6">
          <div class="form-group">
          <label class="control-label">
            Nombre de usuario:
          </label>
          <input class="form-control" type="text" disabled="disabled" placeholder="{{ user.username }}">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">
              C&eacute;dula
            </label>
            <input class="form-control" type="text" disabled="disabled" placeholder="{{ user.cedula }}">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">
              Primer Nombre:
            </label>
            <input class="form-control" type="text" disabled="disabled" placeholder="{{ user.primerNombre }}">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">
              Segundo Nombre:
            </label>
            <input class="form-control" type="text" disabled="disabled" placeholder="{{ user.segundoNombre }}">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">
              Primer Apellido:
            </label>
            <input class="form-control" type="text" disabled="disabled" placeholder="{{ user.primerApellido }}">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">
              Segundo Apellido:
            </label>
            <input class="form-control" type="text" disabled="disabled" placeholder="{{ user.segundoApellido }}">
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label class="control-label">
              Correo:
            </label>
            <input class="form-control" type="text" disabled="disabled" placeholder="{{ user.email }}">
          </div>
        </div>
      </div>
      <div class="row col-md-6 ">
        <div class=" col-md-12 col-md-push-1">
            <label class="control-label">
              Grupos Asignados:
            </label>
            <div class=" well">
            {% for grupo in user.groups %}
              <div class=" form-group">
                <input  type="checkbox" checked="true" disabled="disabled">&nbsp;{{grupo}}<br>
              </div>  
            {% endfor %}
            <div class="form-group">
              <input type="checkbox" {% if  user.enabled == 1 %}  checked {% endif %} disabled="disabled">
              <span>Activo</span>
            </div>
          </div>
          
        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="col-md-12 col-md-push-1">
              <div class=" form-group">
                <div class="row col-md-6">
                  <a href="{{ path('fos_user_profile_edit', { 'id': user.id }) }}">
                    <button class="btn btn-md btn-primary btn-block"><span class="glyphicon glyphicon-edit"></span> Editar Perfil</button>
                  </a>
                </div>
                <div class="col-md-6 col-md-push-1">
                  <a href="{{ path('ubv_autenticacion_cambio_clave_usuarios', { 'id': user.id }) }}">
                    <button class="btn btn-md btn-primary btn-block"><span class="glyphicon glyphicon-lock"></span> Cambiar Contraseña</button>
                  </a>
                </div>
              </div>    
            </div>
          {%endif%}
      </div>
      
      <div class="col-md-12 form-group">
        <br></br>
        <div class=" pull-left">
          <a href="{{ path('ubv_autenticacion_usuarios') }}">
            <button class="btn btn-warning"><span class="glyphicon glyphicon-list-alt"></span> Listar Usuarios</button>
          </a>
        </div>
      </div>
    </div>
  </div>      
{% endblock content %}

